/* ------------------ Global ------------------*/
body { background: #F0F0F0; font-family: 'Montserrat', sans-serif; }

.social-links .fa { color: #FFFFFF; text-decoration: none; font-size: 3rem; margin: 0 1vw; }

.social-links .fa:hover { color: #E9D460; }

/* ------------------ Header ------------------*/
body > header { background: #26A65B; /*background: $red;*/ color: #FFFFFF; height: 70vh; min-height: 500px; padding-top: 30vh; text-align: center; }

body > header h1 { font-size: 5rem; margin: 0; }

body > header h2 { font-size: 2rem; margin: 10px auto; }

body > header section { margin: 23px auto; }

#scrollArrow { font-size: 4rem; margin-top: 15px; }

#scrollArrow:hover { cursor: pointer; }

/* ------------------ Main ------------------*/
main { color: #4D4D4D; padding: 5vh 0; text-align: center; }

main h3 { font-size: 3rem; margin: 0; }

.project { background-color: white; border: 1px solid #D8D8D8; border-radius: 5px; margin: 2% auto; max-width: 960px; padding: 2%; text-align: left; width: 80%; }

.project section { box-sizing: border-box; display: inline-block; vertical-align: top; width: 100%; }

.project section header h4 { font-size: 2.5rem; line-height: 1.25; margin: 0; }

.project section header h5 { font-size: 1.25rem; font-weight: 400; margin: 2% 0; }

.project section img { max-height: 100%; max-width: 100%; }

.project section p { font-family: 'Oxygen', sans-serif; font-size: .8rem; line-height: 1.6; }

.project section .project-buttons button { background-color: #F0F0F0; border: 1px solid #888888; border-radius: 5px; color: #4D4D4D; display: inline; height: 40px; outline: none; padding: 0; }

.project section .project-buttons button:hover { border: 1px solid #4D4D4D; }

.project section .project-buttons button.selected { background-color: #E9D460; border: 1px solid #888888; }

.project section .project-buttons button.selected:hover { border: 1px solid #4D4D4D; color: #4D4D4D; }

.project section .project-buttons button a { color: #4D4D4D; text-decoration: none; }

.project section .project-buttons div { display: inline; }

.project section .project-buttons .external-links { float: right; }

.project section .project-buttons .external-links button { width: 85px; }

.project section .project-buttons .external-links button:hover { background-color: #D8D8D8; }

.project section .project-buttons .image-select button { width: 40px; }

.project section .project-buttons .image-select button:hover { background-color: #E9D460; }

.project section .project-images { margin-bottom: 2%; text-align: center; }

@media (min-width: 960px) { .project section { width: 48%; }
  .project section.project-external { margin-left: 3%; } }

/* ------------------ Footer ------------------*/
footer { background: #26A65B; padding: 20px; text-align: center; }

/* ------------------ HTML5 Fixes ------------------*/
header, footer, main, nav, section { display: block; }

/* ------------------ TINY TINY Screens ------------------*/
@media (max-width: 350px) { body > header { height: 90vh; padding-top: 10vh; }
  body > header h1 { font-size: 4rem; }
  .project section header h4 { font-size: 2rem; }
  .project section .project-buttons .external-links button { width: 70px; } }
