html{
	background-color: #FFFFFF;
	background: url(http://wallpapers.wallbase.cc/rozne/wallpaper-446338.png);
	background-size: 100%;
	background-attachment: fixed;
	font-family: "Lucida Grande", sans-serif;
	font-size: 100%;
	text-align: center;
}

#header{
	color: #000000;
	position: relative;
	border-bottom: 5px solid #000000;
	width: 50%;
	margin-top: 5%;
	margin-left: 25%;
	padding-bottom: 1%;
}

#content{
	text-align: center;
	width: 50%;
	margin-top: 1%;
	margin-left: 25%;
}

.link{
	font-weight: bold;
}
.link:link{color:#000000;}
.link:visited{color:#000000;}
.link:hover{color:#898989}
.link:active{color:#000000;}

#footer{
	color: #CDCDCD;
	border-top: 5px solid #000000;
	width: 50%;
	padding-top: 1%;
	margin-left: 25%;
}