html{
	background-color: #FFFFFF;
	background-image: url(http://th09.deviantart.net/fs70/PRE/f/2012/203/c/0/blog_background_by_monxi-d587zte.jpg);
	background-size: 100%;
	font: Verdana;
	font-size: 200%;
	text-align: center;
}

header{
	color: #000000;
	border-bottom: 5px solid #000000;

}

#content{
	text-align: center;
}

.link{
	color: #FFCB06;
}

footer{
	color: #CDCDCD;
	border-top: 5px solid #000000;
}