/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Edit by Ryan Eddy */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Lucida Grande", sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	background-color: #FFFFFF;
	background: url(../images/background.png);
	background-size: 100%;
	background-attachment: fixed;
	text-align: center;
}

header{
	color: #000000;
	position: relative;
	border-bottom: 5px solid #000000;
	font-size: 200%;
	width: 50%;
	margin-top: 5%;
	margin-left: 25%;
	padding-bottom: 1%;
}

section{
	text-align: center;
	width: 50%;
	margin-top: 1%;
	margin-left: 25%;
}

a {
	font-weight: bold;
}
a:link{color:#000000;}
a:visited{color:#000000;}
a:hover{color:#898989}
a:active{color:#000000;}

footer{
	color: #CDCDCD;
	border-top: 5px solid #000000;
	width: 50%;
	padding-top: 1%;
	margin-bottom: 5%;
	margin-left: 25%;
}